@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    color: #989D9C;
    padding: 0;
}

a, button{
    cursor:pointer;
    border: none;
}



.link-header{
    margin: 20px 23px 0 0; 
    font-weight: bold;
    font-size: 19px;
}


.button-header{
    padding: 5px 30px; 
    border-radius: 50px; 
    font-size: 15px; 
    font-weight: bold;
    background-color: #665ae1; 
    color: white;
}


.text{
    margin: 5% 0 0 86px;
}


.button-text{
    width: 200px;
    height: 50px;   
    margin: 65px 0 0 120px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ADFF00;
    color: black; 
    box-shadow: 0px 4px 4px 0px #00000040;
}



header{
    padding: 0 0 0 0;
    margin: 4vh 3vw 4vh 5vw;
}


section{
    margin: 40px 0 0 100px;
    display: flex;
}


img{
    width: 500px;
    height: 460px;
}


h1{
    font-size: 90px; 
    font-weight: 900; 
    color: #515151;
}


h2{
    font-size: 48px; 
    font-weight: 500; 
    width: 448;
    color: #515151; 
}


p{
    width: 450px;
    column-count: 1;
    font-weight: 400; 
    font-size: 24; 
    margin-top: 32px; 
    color: #848484;
}

@media screen and (max-width:720px){
    section{
        padding: 0;
        margin: 0;
        text-align: center;
        display: block;
    }
    header{
        display: none;
    }
    img{
        position: static;
        display: block;
        width: 80vw;
        height: 40vh;
        object-fit: contain; /* ou "cover" */
        margin: 10vh auto;
    }
    
    .button-text{
        margin: auto;
        width: 58vw;
        height: 8vh;
    }
    .text{
        margin: auto;
        position: static;
        display: block;
        width: 60vw;}/* ou "cover" */
        
    h1{font-size: 40px;}
    h2{font-size: 28px;}
    p{display: none;}
}
